@import "../variables/variables.scss";
.navabr{
   
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    .pges_router{
        width: 100%;
        display: grid;
        place-items: center;
        h2 {
            font-size: 25px;
            font-weight: bold;
            color: $color_dark;
            text-transform: uppercase;
        }
        .links{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 0 10px;
            text-align: center;
           gap: 4rem;
           
            .nava-link{
                text-transform: uppercase;
                text-decoration: none;
                font-size: 14px;
                font-weight: bold;
                color: black;
                position: relative;
                padding: 0 0 7px;
                &::after {
                    background: none repeat scroll 0 0 transparent;
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 2px;
                    left: 50%;
                    position: absolute;
                    background: $color_dark_orange;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                    width: 0;
                }
                &:hover {
                    color: $color_dark_orange;
                    &::after{
                        width: 100%;
                        left: 0; 
                    }
                 
                }
                &.active {
                    color: $color_dark_orange;
                    &::after{
                        width: 100%;
                        left: 0;
                    }
                 
                }
            } 
            } 
            .amation-light{
               position: absolute;
               top: 4px;
               left: 0;
               right: 0;
               bottom: 0;
               width: 100%;
              
                background-color: yellow;
                height: 2px;
                display: block;
                transition: all 0.4s ease-in-out;
                
            }
           
        }
    }

    